<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="float-right mb-1" mat-raised-button color="primary" (click)="exporter.exportTable('csv')">Csv</button>
    </div>
</div>

<div class="example-container mat-elevation-z8">
    <mat-table matTableExporter #exporter="matTableExporter" [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="userId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> User ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.userId}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="completed">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Completed </mat-header-cell>
            <mat-cell *matCellDef="let row"     
            [ngStyle]="{'color': row.completed === true ? 'green' : 'red'}"> {{row.completed}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>